:root {
  /* global colors */
  --black: black;
  --offBlack: #121212;
  --red: #f9002b;
}

body,
html {
  /* removes white spacing around the edges of website */
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Poppins";
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 0px;
  padding: 0px;
}
