.authorspage {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100%;
    grid-gap: 15px;
    overflow-y: scroll;
    
    color: white;
  }

    #mainh1{
        grid-row: 1/2;
        grid-column: 1/5;
        color: var(--yell);
    }

    #authorcontainer{
        grid-row: 2/5;
        grid-column: 1/5;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
  .authorbox{
    justify-self: center;
    text-align: center;
    background: linear-gradient(0.38turn, #000000 88%, #f5c518);
    color: lightgrey;
    border-radius: 10px;
    width: 49%;
    height: 350px;
    max-width: 500px;
    min-height: 350px;
    transition-property: width;
    display: grid;
    padding-bottom: 10px;
  }
  .authorbox:hover{
    border: 2px solid var(--yell);
    
  }

  .photoguy{
  
      height: 150px;
      width: 150px;
      justify-self: center;
      align-self: end;
      border-radius: 100%;
      

  }

  #brittonheadshot{
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }

  @media only screen and (max-width: 780px) {

    #authorcontainer{
        grid-row: 2/5;
        grid-column: 1/5;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .authorbox{
        justify-self: center;
        background: linear-gradient(0.38turn, #000000 88%, #f5c518);
        color: lightgrey;
        border-radius: 10px;
        width: 90%;
        max-width: 500px;
        min-height: 350px;
        margin: 0px auto;
        transition-property: width;
    }
    .authorbox:not(:first-of-type){
        margin-top: 25px;
    
      }
  }