.homepage {
  /* grid val's relative to homepages parent (App.js) */
  grid-column: 2 / 5;
  grid-row: 1 / 2;

  /*
  background-image: linear-gradient(to top right, black 45%, transparent 125%),
    url("../assets/background.jpg");
  background-color: black;
  background-position: 20vw 0;
  background-size: cover;
  background-repeat: no-repeat;
  */
  color: lightgrey;
}
.subgrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100%;
}
.subgrid > * {
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  /* rgba value is offBlack */
  background: rgba(18, 18, 18, 0.7);
  margin: 5px;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
  /* padding-left: 20px; */
  font-weight: 100;
  letter-spacing: 0.4vw;
  color: var(--yell);
}
.mostPopular {
  grid-column: 1 / 6;
  grid-row: 2 / 7;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  /* margin-left: 20px; */
}
.comingSoon {
  grid-column: 1 / 8;
  grid-row: 7 / 9;
}
.topRated {
  grid-column: 6 / 8;
  grid-row: 2 / 7;
}
.movieInfo {
  flex-basis: 100px;
  flex-grow: 10px;
  flex-shrink: 10px;
  padding: 8px;
  transition: transform 0.4s;
}
.movieInfo:hover {
  /* background-color: var(--offBlackLt); */
  /* border-radius: 5px; */
  transform: scale(1.2);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.movieTitle,
.movieGenre,
.moviePoster,
.movieRating {
  margin: 0;
  padding: 0;
}
.movieTitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  width: 120px;
  /* height: 40px; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.movieGenre {
  font-size: 0.7rem;
  color: grey;
}
.totRating {
  font-size: 0.7rem;
  color: grey;
}
.ratingCount {
  font-size: 0.7rem;
  color: grey;
  margin-left: 2px;
}
.starIcon {
  color: var(--yell);
  margin-right: 2px;
  vertical-align: middle;
}
.TRbox {
  margin: 0vh 1.1vw;
}
.TRtitlerow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.TRrating {
  font-size: 0.9rem;
  color: white;
}
.TRstarIcon {
  color: var(--yell);
  margin-right: 0.1vw;
  vertical-align: middle;
}
.TRrank {
  font-size: 0.8rem;
}
.TRplayicon {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 1.3rem;
  color: grey;
  /* color: var(--yell); */
}
.TRbuttonrow {
  /* background-color: var(--offBlackLt); */
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 10px; */
}
.TRtrailerbutton {
  background-color: transparent;
  border: none;
  color: white;
  /* color: var(--yell); */
  /* padding: 1vh 2vw; */
}
.TRtrailerbutton:hover {
  background-color: var(--offBlackLt);
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.TRshowtimebutton {
  background-color: transparent;
  border: none;
  color: white;
  /* color: var(--yell); */
  /* padding: 1vh 2vw; */
}
.TRshowtimebutton:hover {
  background-color: var(--offBlackLt);
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.TRshowtimeicon {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 1.4rem;
  color: var(--blue);
}
.rankLine {
  color: var(--yell);
}
