.homepage {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 90vw; /* 90 (& not 100vw) fixes grid columns overflowing too much */
  background-image: linear-gradient(to top right, black 45%, transparent 125%),
    url("../assets/background.jpg");
  background-color: black;
  background-position: 20vw 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: lightgrey;
}
.homepage > * {
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  background: rgba(18, 18, 18, 0.7); /* rgba value is offBlack */
  margin: 5px;
}
h2 {
  font-size: 1.5vw;
  margin: 0;
  padding-left: 5px;
}
.mostPopular {
  grid-column: 1 / 6;
  grid-row: 2 / 7;
}
.comingSoon {
  grid-column: 1 / 8;
  grid-row: 7 / 9;
}
.topRated {
  grid-column: 6 / 8;
  grid-row: 2 / 7;
  margin-right: 5px; /* fixes grid columns overflowing too much for top rated*/
}
