.moviespage{
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    display: grid;
    font-family: "Poppins";
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100%;
    grid-gap: 15px;
      
}

#searchlabel{
    color: lightgrey;
    margin-left: 10px;
    line-height: 100%;
    font-size: 24px;
    grid-row: 1/2;
    align-self: end;
    
   
}

#searchContainer{
    background: rgba(18, 18, 18, 0.7);
    display: grid;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1 / 3;
    border-radius: 15px; 
} 

#searchinput{
    width: 80%;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
    margin-right: 25px;
    margin-left: 10px;
   
}

#topChart{
    background: rgba(18, 18, 18, 0.7);
    grid-row: 2 / 7;
    grid-column: 4 / 6;
    border-radius: 10px;
    margin-right: 5px;
    color: white;
    font-size: 20px;
}

#newReleases{
    background: rgba(18, 18, 18, 0.7);
    grid-row: 2 / 7;
    grid-column: 1 / 6;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 10px;   
}

#newReleases > h1 {
    margin: 3px;
    padding: 0px;
    font-size: 24px;
    color: lightgrey;

}
.yeardisc{
    color: lightgrey;
    font-size: 18px;
    text-align: center;
    height: 35px;
    line-height: 35px;
}


#newReleases > h2 {
    margin: 3px;
    padding: 0px;
    font-size: 24px;
}

h2{
    padding: 0px;
}

#topChart > h2 {
    margin: 3px;
    padding: 0px;
    font-size: 24px;
   
    overflow: hidden;

}

#movieBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
    padding-bottom: 15px;
    margin-top: 25px;
}

.newReleaseMovie{
    
    background: linear-gradient(.38turn,#000000 88%,#f5c518); 
    
    min-width: 250px;
   
    border-radius: 5px;    
    grid-row: auto;
    display: grid;  
    color: lightgrey;
    transition-property: width;

}

.newReleaseMovie:hover{
    
    cursor: pointer;
    border: 5px solid var(--yell);
    border-radius: 5px;
 }



.rating{
    position: absolute;
    color:rgba(18, 18, 18, 0.7);
    width:35px;
    font-size: 20px;
    margin: 3px;
    margin-right: 10px;
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    background-color: var(--yell);
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    justify-self: right;
}
img{
    overflow-x: hidden;
}

.newReleaseImg{
    width: 100%;
}

h3 {
    grid-row: 4;
    margin: 3px;
    padding: 0px;
    color: lightgrey;
    overflow: hidden;
    align-self: end;
    text-align: center;

}

.classich3{
    height: 35px;
}

@media only screen and (max-width: 1300px){

    #movieBox{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 860px){

    #movieBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .moviespage{
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
        display: grid;
        font-family: "Poppins";
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 180px repeat(5, 1fr);
        width: 100%;
        height: 100%;
        grid-gap: 15px;
    }    
}

@media only screen and (max-width: 650px){

    .moviespage{
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
        display: grid;
        font-family: "Poppins";
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 200px repeat(5, 1fr);
        width: 100%;
        height: 100%;
        grid-gap: 15px;
    }    

    #searchContainer{
        background: rgba(18, 18, 18, 0.7);
        display: grid;
        align-items: center;
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        border-radius: 15px;
        height: 200px;
    } 
    #searchlabel{
        color: lightgrey;
        margin-left: 10px;
        line-height: 100%;
        font-size: 24px;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #movieBox{
        display: grid;
        grid-template-columns: 1fr;
        width: 75%;
        margin: 0px auto;
    }

}
