.sidebar {
  background-color: var(--offBlack);
  /* height: 100vh; */ /* causes scroll bug at bottom if enabled */
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: lightgrey;
  margin: 2vh;
  width: 120px;
  /* padding: 10px 90%; */ /* causes sidebar bug in safari */
  letter-spacing: 2px;
}
a:hover {
  color: var(--red);
  padding-left: 10px;
  transition: color 0.4s ease, padding-left 0.4s ease;
}

.sidebarIcons {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}
