.sidebar {
  background-color: var(--offBlack);
  /* height: 100vh; */ /* causes scroll bug at bottom if enabled */
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: lightgrey;
  margin: 2vh;
  width: 120px;
  padding: 10px 90%;
  letter-spacing: 2px;
}
a:hover {
  /* background-color: white; */
  border-left-style: solid;
  border-color: white;
  background-color: #191919;
  color: lightgrey;
}

.sidebarIcons {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}
