.sidebar {
  background-color: var(--offBlack);
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
a {
  font-size: 0.7rem;
  text-decoration: none;
  color: lightgrey;
  letter-spacing: 2px;
  text-transform: uppercase;
}
a:hover {
  color: var(--yell);
  transition: color 0.4s ease;
}

.sidebarIcons {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}

.routeActive {
  background-color: var(--offBlackLt);
  border-radius: 5px;
  color: var(--yell);
}

.navlink {
  width: 10vw;
  /* width: 120px; */
  padding: 8px 10px;
  margin: 1vh;
}
